# SPDX-FileCopyrightText: 2025 The EBFM Authors
#
# SPDX-License-Identifier: CC-BY-4.0

.venv
**__pycache__
**.egg-info
build
Output/*.nc
Reboot/*.nc
*.png
.idea/EBFM_with_YAC.iml
.idea/inspectionProfiles/profiles_settings.xml
.idea/misc.xml
.idea/vcs.xml
.idea/workspace.xml
